<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809908968593-rvhhqot6kp0rb2t5ocvggppq9eu04j9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809908968593-rvhhqot6kp0rb2t5ocvggppq9eu04j9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBI26zuUFmjAVT070e800EUo1fT-zGNNDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>809908968593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d.massenger</string>
	<key>PROJECT_ID</key>
	<string>mrwa94-92f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>mrwa94-92f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809908968593:ios:15169d3f3e3a973d76f330</string>
</dict>
</plist>